.air-conditions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #1E1E2E;
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 50vw;
    margin: 0 auto;
}

.air-conditions-item {
    display: flex;
    align-items: center;
    text-align: left;
    min-width: 180px;
}

.air-conditions-item svg {
    margin-right: 15px;
}



.air-conditions-item h3 {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ccc;
}

.air-conditions-item p {
    font-size: 22px;
    font-weight: bold;
}

/* Responsive layout for small screens */
@media (max-width: 800px) {
    .air-conditions {
        grid-template-columns: 1fr 1fr;
        width: 80vw;
    }
    
    .air-conditions-item h3 {
        font-size: 12px;
        margin-bottom: 5px;
        color: #ccc;
    }
    .air-conditions-item p {
        font-size: 15px;
        font-weight: bold;
    }
}

@media (max-width: 450px) {
    .air-conditions {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .air-conditions-item h3 {
        font-size: 15px;
        margin-bottom: 5px;
        color: #ccc;
    }

    .air-conditions-item {
        flex-direction: column;
    }

    .air-conditions-item svg {
        margin-right: 0;
    }

    .air-conditions-item div {
        margin-top: 10px;
    }
}