.forecast-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forecast-temperature {
    overflow: auto;
    white-space: nowrap;
    width: 50vw;
    background: #1e1e2f;
    border-radius: 20px;
    height: fit-content;

}

.forecast-temperature::-webkit-scrollbar {
    height: 8px;
    width: 90%;
}

.forecast-temperature::-webkit-scrollbar-track {
    border-radius: 10px;
}

.forecast-temperature::-webkit-scrollbar-thumb {
    background: #575767;
    border-radius: 10px;
}

.forecast-temperature::-webkit-scrollbar-thumb:hover {
    background: #77778a;
}

.forecast-section {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 20px; */
    align-items: center;
}

.forecast-item {
    text-align: center;
    padding: 1vw;
    flex: 1;
}

.arrow {
    cursor: pointer;
    height: 20vh;
}

.arrow:hover {
    fill: #f1f1f1;
    transition: 0.5s;
}

@media (max-width: 1000px) {
    .arrow {
        display: none;
    }

    .forecast-temperature {
        width: 80vw;
    }
    .forecast-container {
        width: 80vh;
    }
    

    .forecast-temperature::-webkit-scrollbar {
        display: none;
    }

}

@media (max-width: 800px) {
    .arrow {
        display: none;
    }

    .forecast-temperature {
        width: 80vw;
    }
    .forecast-container {
        width: 80vh;
    }
    

    .forecast-temperature::-webkit-scrollbar {
        display: none;
    }

}