body {
    font-family: Arial, sans-serif;
    background: rgb(0, 0, 26);
    color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container div {
    padding: 10px;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}